/* #main-svg svg{
    margin-left: 355px;
    padding-top: 20px;
    position : absolute;
    top: 258px;
    height: 30px;


} */

.grid-container {
    position:absolute;
    top: 200px;
    left:204px;
    display: grid;
    grid-template-columns: auto auto auto;
    
    padding: 10px;
    grid-gap: 9px;
    width: 450px;
    height:100px;
  }
  .throttle,.fl,.fr,.rl,.rr,.boost {
    background-color: #000000;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .throttle{border: 3px solid ;border-radius:1px;}
  .boost{border: 3px solid ;border-radius:1px;}
  .fl,.fr{border: 3px solid; border-radius:5px;}
  .rl,.rr{border: 3px solid #a6a6a6; border-radius:5px;}
  



#l1{
    opacity:0.6;
    stroke-opacity: 0.5;
    
}
#l2{
    opacity:0.6;
    stroke-opacity: 0.5;
    }

#l3{
    opacity:0.6;
    stroke-opacity: 0.5;
        }
        
        #l4{
            opacity:0.6;  
            stroke-opacity: 0.5;
        }
        #l5{
            opacity:0.1;stroke-opacity: 0.5;
            }
        
        #l6{
            opacity:0.1;stroke-opacity: 0.5;
                }
                #l7{
                    opacity:0.1;  stroke-opacity: 0.5;
                }
                #l8{
                    opacity:0.1;stroke-opacity: 0.5;
                    }
                
                #l9{
                    opacity:0.1;stroke-opacity: 0.5;
                        }
                        
                        #l10{
                            opacity:0.1; stroke-opacity: 0.5; 
                        }
                        #l11{
                            opacity:0.1;stroke-opacity: 0.5;
                            }
                        
                        #l12{
                            opacity:0.1;stroke-opacity: 0.5;
                                }           
                                
                                #l13{
                                    opacity:0.1;stroke-opacity: 0.5;
                                }
                                #l14{
                                    opacity:0.1;stroke-opacity: 0.5;
                                    }
                                
                                #l15{
                                    opacity:0.1;stroke-opacity: 0.5;
                                        }
                                        
                                        #l16{
                                            opacity:0.1; stroke-opacity: 0.5;
                                        }
                                        #l17{
                                            opacity:0.1;stroke-opacity: 0.5;
                                            }
                                            
                                                #l18{
                                                    opacity:0.1;stroke-opacity: 0.5;
                                                    }
                                                    #l19{
                                                        opacity:0.1;stroke-opacity: 0.5;
                                                        }
                                                        #l20{
                                                            opacity:0.1;stroke-opacity: 0.5;
                                                            }
                                                            #l21{
                                                                opacity:0.1;stroke-opacity: 0.5;
                                                                }
                                                                #l22{
                                                                    opacity:0.1;stroke-opacity: 0.5;
                                                                    }
                                                                    #l23{
                                                                        opacity:0.1;stroke-opacity: 0.5;
                                                                        }
                                                                        #l24{
                                                                            opacity:0.1;stroke-opacity: 0.5;
                                                                            }
                                                                           
/*temperature guage*/
#t1{
    opacity:0.2;
    stroke-opacity: 0.5;
    
}
#t2{
    opacity:0.2;
    stroke-opacity: 0.5;
    }

#t3{
    opacity:0.2;
    stroke-opacity: 0.5;
        }
        
        #t4{
            opacity:0.2;  
            stroke-opacity: 0.5;
        }
        #t5{
            opacity:0.2;stroke-opacity: 0.5;
            }
        
        #t6{
            opacity:0.2;stroke-opacity: 0.5;
                }
                #t7{
                    opacity:0.2;  stroke-opacity: 0.5;
                }
/*boost guage*/
#b1{
    opacity:0.2;
    stroke-opacity: 0.5;
    
}
#b2{
    opacity:0.2;
    stroke-opacity: 0.5;
    }

#b3{
    opacity:0.2;
    stroke-opacity: 0.5;
        }
        
        #b4{
            opacity:0.2;  
            stroke-opacity: 0.5;
        }
        #b5{
            opacity:0.2;stroke-opacity: 0.5;
            }
        
        #b6{
            opacity:0.2;stroke-opacity: 0.5;
                }
                #b7{
                    opacity:0.2;  stroke-opacity: 0.5;
                }
                #b8{
                    opacity:0.2;stroke-opacity: 0.5;
                    }
                
                #b9{
                    opacity:0.2;stroke-opacity: 0.5;
                        }
/*oil guage*/
#o1{
    opacity:0.2;
    stroke-opacity: 0.5;
    
}
#o2{
    opacity:0.2;
    stroke-opacity: 0.5;
    }

#o3{
    opacity:0.2;
    stroke-opacity: 0.5;
        }
        
        #o4{
            opacity:0.2;  
            stroke-opacity: 0.5;
        }
        #o5{
            opacity:0.2;stroke-opacity: 0.5;
            }
        
        #o6{
            opacity:0.2;stroke-opacity: 0.5;
                }
                #o7{
                    opacity:0.2;  stroke-opacity: 0.5;
                }
                #o8{
                    opacity:0.2;stroke-opacity: 0.5;
                    }
                
                #o9{
                    opacity:0.2;stroke-opacity: 0.5;
                        }